@import '../app.scss';

.field {
  label {
    display: block;
    color: $secondary-text-color;
    min-width: 8rem;
  }
  input {
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
  }
  .field-line {
    border-bottom: solid 1px $accent-color;
  }
}
