@import './theme.scss';
@import './tatami.scss';
@import './seito.scss';

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.animated {
  -webkit-transition-timming-function: ease-in-out;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

  $red: #F00;
  $green: #448844;
  $blue: #440088;
  $grey: #888;


.page {
  .pageBar {
    color: $primary-text-color;
    background-color: transparent !important;
    border-bottom: solid 2px;
    //margin-bottom: 1rem;
  }
}

h1 {
  margin: .7rem 0 1rem 0;
}

h2 {
  margin: .7rem 0 1rem 0;
}

h3 {
  margin: .7rem 0 1rem 0;
}

button {
  border: none;
}

*:focus {
    outline: none;
}

.row {
  display: flex;
  justify-content: space-between;;
}

.default-title {
  color: $primary-color-dark-trans;
  border-bottom: solid 1px $divider-color;
  margin-bottom: 1rem;
}

.badge {
  background-color: $primary-color-light;
  border-radius: 1rem;
  line-height: 1.1 !important;
  font-size: 1.1rem;
  font-weight: 300;
  padding:.4rem .8rem;
  max-height: 2rem;
  align-self: center;
}

.flex20 {
  flex: .2;
}

.flex40 {
  flex: .4;
}

.flex60 {
  flex: .6;
}

.flex80 {
  flex: .8;
}

.flex100 {
  flex: 1;
}

.flex200 {
  flex: 2;
}

.flex300 {
  flex: 3;
}

.flex-unit {
  flex: 1;
}


.layout {

  display: flex;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.vertical {
    flex-direction: column;
  }

  &.centered {
    justify-content: center;
    align-items: center;
  }

  >.right {
    align-self: flex-end;
  }
}

  .red {
    color: #ff4400 !important;
  }

  .green {
    color: #22a969 !important;
  }

  .blue {
    color: #4400FF !important;
  }

  .dark-grey {
    color: rgba(10,10,10, .6);
  }

  .grey {
    color: $divider-color !important;
  }

  .bgred {
    background-color: rgba($red, .5) !important;
  }

  .bggreen {
    background-color: #22a969 !important;
  }

  .bgblue {
    background-color: #4400FF !important;
  }

  .bggrey {
    background-color: $divider-color !important;
  }


.icon {
  font-size: 2.3rem;
}


.menu {
  //border: solid 1px rgba(100,100,100,.8);
  background-color: white;
  color: rgba(0,0,0, .7);
  min-width: 10rem;
}
