@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');

/* Fonts */
$title-font-size: 1.7rem;
$title-font-weight: 400;
$subtitle-font-size: 1.4rem;
$subtitle-font-weight: 400;
$caption-font-size: 1.2rem;
$caption-font-weight: 300;

/* Screen */
$drawer-width: 250px;
$floating-drawer-width: 85vw;
$screen-content-width: 325px;
$break-small: 575px;
$break-medium: 800px;
$break-big: 1240px;

$page-max-width: 1240px;

/* Palette Green */
$primary-color-dark:   #455A64;
$primary-color:        #20A867;
$primary-color-light:  #CFD8DC;
$primary-color-text:   rgba(255,255,255,.94);
$accent-color:         #455A64; //#4CAF50;
$accent-color-light:   #758A94; //#4CAF50;


/* Palette Blue *
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$accent-color-light:   #FFF137;
*/

/* Palette commons */
$danger-color:                #ff4400;
$danger-color-light:          #ff7470;
$primary-color-dark-trans:    rgba( $primary-color-dark,  .58);
$primary-color-trans:         rgba( $primary-color,       .58);
$primary-color-light-trans:   rgba( $primary-color-light, .58);
$primary-color-lighter-trans: rgba( $primary-color-light, .15);
$accent-color-trans:          rgba( $accent-color,        .58);
$accent-color-light-trans:    rgba( $accent-color-light,  .58);
$danger-color-trans:          rgba( $danger-color,        .58);
$danger-color-light-trans:    rgba( $danger-color-light,  .58);


/* light theme */
$background:           #FAFAFA;
$paper:                #FFF;
$primary-text-color:   rgba(0,0,0,0.87);
$secondary-text-color: rgba(0,0,0,0.54);
$hint-text-color:      rgba(0,0,0,0.38);
$divider-color:        #BDBDBD;


/* dark theme
$background:           #303030;
$paper:                #424242;
$primary-text-color:   #FFF;
$secondary-text-color: #9A9A9A;
$divider-color:        #CCC;
*/

// icons
$icon-active:   rgba(0,0,0,.54);
$icon-inactive: rgba(0,0,0,.38);
$icon-hover:    rgba(220,220,220,.32);

// shadows
$shadow1: 0 0   2px rgba(0,0,0,.12),
          0 2px 4px rgba(0,0,0,.24);

// other...

$status:     #E0E0E0;
$header:     #F5F5F5;
$info:       #FFFFFF;




// button.scss

  .primary {
    background-color: $primary-color;
    color: $primary-color-text;
    &.disabled {
      background-color: rgba($primary-color, .3);
      cursor:inherit;
    }
  }

  .danger {
    background-color: $danger-color;
    color: $primary-color-text;
    &.disabled {
      background-color: rgba($danger-color, .3);
      cursor:inherit;
    }
  }

  .accent {
    background-color: $accent-color;
    color: $primary-color-text;
    &.disabled {
      background-color: rgba($accent-color, .3);
      cursor:inherit;
    }
  }
