@import '../app.scss';

.campaigns {
  @media (max-width: $break-small) {
    >.pageBar {
      select {
        display: none;
      }
    }
    .listitem0 {
      padding: .5rem 1rem .5rem .5rem;
      .info0 {
        font-size: 1.2rem;
        font-weight: 300;
        color: $secondary-text-color !important;
      }
      .secondaryAction {
        display: none !important;
      }
    }
  }
}
