@import '../app.scss';

.login {

  display: flex;

  >* {
    flex:1;
  }

  .half-page {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-right: solid 1px $divider-color;
    }

    h3 {
      font-size: 3rem;
      font-weight: 300;
    }

    .formu {
      min-height: 256px;
      min-width: 20rem;
      max-width: 80rem;
      width: 50%;
    }
  }

}

@media (max-width: 960px) {
  .login {
    flex-direction: column;
  }
}
