@import '../../app.scss';

.budget-page {
  .tab {
    background-color: $background;
  }
}

.budget-header {
  margin: .5rem 0;
  @media (max-width: $break-medium) {
    h4 {
      display: none;
    }
  }
}
