@import '../app.scss';

.drawer {
  flex: 1;
  display: flex;
  flex-direction: column;
  //border-right: solid 1px $divider-color;
      height: 100%;

  &.minimized {

  }

  &.normal {
    min-width: 300px;
  }

  &.maximized {
    min-width: 600px;
  }

  >header {
  //  background-color: $primary-color-dark-trans;
    display: flex;
    //flex-direction: column;
  }

  >main {
    padding-top: 1rem;
    padding: 1.2rem .8rem;
    flex: 1;
    background-color: $header;
    display: flex;
    flex-direction: column;

    .icon:first-child {
      background-color: $primary-color-light-trans;
      border: 0;
      border-radius: 0;
      &:hover {
        //background-color:  $primary-color-dark-trans;
      }
    }

    .icon {
      margin: .5rem 0;
      &:hover {
        background-color: $primary-color-light-trans;
      }
    }
  }

  >footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    border-top: solid 1px $divider-color;
  }

}
