@import '../app.scss';

.header {
  width: inherit;
  min-width: inherit;
  padding: .5rem 0;

  //background-color: $primary-color-dark-trans;
  color: $primary-color-text;

  z-index: 10;

  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  align-content: center;
  justify-content: space-between;

  &.page-title {
    background-color: inherit;
    color: $primary-text-color;
    border-bottom: solid 2px $primary-color-dark-trans;

    .info {
      padding: 0;
    }
  }

  &.page-subtitle {
    border-bottom: solid 1px #DDD;
    color: $primary-color;
    font-size: 1.6rem;
    font-weight: 500;
    font-variant: small-caps;
    //text-transform: uppercase;
  }

  &.float {
    position: absolute;
    width: inherit;
    min-width: inherit;
    background-color: $primary-color-dark-trans;
  }

  .title {
    flex: 1;
    line-height: 4.1rem;
    margin: 0 1rem;
    overflow: hidden;
  }

  nav {
    display: flex;
  }
}
