@import '../app.scss';

.icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  padding: .7rem;
  margin: .1rem;
  cursor: pointer;
  color: inherit;
  font-variant: normal;

  >.decorator {
    position: absolute;
    right: 1px;
    bottom: 1px;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: solid 1px $primary-color-light-trans;
    background-color: $primary-color-light;

    padding: .1rem;
  }

  &:hover {
    background-color: $icon-hover;
  }

  &.tiny {
    font-size: 1rem;
  }
  &.small {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  &.medium {
    font-size: 4rem;
  }
  &.large {
    font-size: 6rem;
  }
  &.square {
    border-radius: 0;
  }
}
